{% extends "base/base.html" %}

{% load static %}

{% block content %}
</header>
    <link rel='stylesheet' href="{% static 'css/home/home_styles.css' %}">
    <section id="intro" data-section="intro">
        <div id="intro-info">
            <div>
                <h1 id="display-title-intro">{{ intro_content.title }}</h1>
                <textarea id="editable-title-intro" class="hidden">{{ intro_content.title }}</textarea>

                <div id="intro-tag-btn">
                    <span id="display-content-intro">{{ intro_content.content }}</span>
                    <textarea id="editable-content-intro" class="hidden">{{ intro_content.content }}</textarea>

                    <a href="#delivery" class="brand-btn">Bắt đầu thôi</a>
                </div>
            </div>
        </div>
        <div id="development-img">
            {% if intro_content.image %}
                <img id="display-img-intro" class="rounded-corners-35px" src="{{ intro_content.optimized_image.url }}" alt="Image Description" title="Description" />
            {% else %}
                <img id="display-img-intro" src="https://www.dropbox.com/s/7hwnjccu15vt90e/mobileDevlopment.svg?raw=1" alt="Image Description" title="Description" />
            {% endif %}
            {% if is_staff %}
                <input type="file" id="image-upload-intro" class="hidden" onchange="previewImage(this, 'display-img-intro')" />
                <button onclick="document.getElementById('image-upload-intro').click()">Update Image</button>
                <button id="upload-button-intro" class="hidden" onclick="uploadImage('image-upload-intro', 'display-img-intro')">Upload</button>
            {% endif %}
        </div>
        {% if is_staff %}
            <div class="update-buttons">
                <button onclick="editContent('display-title-intro', 'editable-title-intro', 'update-title-intro')">Update Title</button>
                <button id="update-title-intro" class="hidden" onclick="saveContent('editable-title-intro', 'display-title-intro', 'intro', 'title')">Save Title</button>
                <button onclick="editContent('display-content-intro', 'editable-content-intro', 'update-content-intro')">Update Content</button>
                <button id="update-content-intro" class="hidden" onclick="saveContent('editable-content-intro', 'display-content-intro', 'intro', 'content')">Save Content</button>
            </div>
        {% endif %}
    </section>

    <section id="delivery" data-section="delivery">
        <h1 id="display-title-delivery" class="sec-heading">{{ delivery_content.title }}</h1>
        <textarea id="editable-title-delivery" class="hidden"></textarea>

        <div class="col-5 delivery-img">
            {% if delivery_content.image %}
                <img id="display-img-delivery" class="rounded-corners-35px" src="{{ delivery_content.optimized_image.url }}" alt="Image Description" title="Description"/>
            {% else %}
                <img id="display-img-delivery" src="https://www.dropbox.com/s/ipx91osglyczpdt/delivery_experience.svg?raw=1" alt="Image Description" title="Description"/>
            {% endif %}

            {% if is_staff %}
                <input type="file" id="image-upload-delivery" class="hidden" onchange="previewImage(this, 'display-img-delivery')" />
                <button onclick="document.getElementById('image-upload-delivery').click()">Update Image</button>
                <button id="upload-button-delivery" class="hidden" onclick="uploadImage('image-upload-deliver', 'display-img-delivery')">Upload</button>

            {% endif %}
        </div>
        <div class="col-7">

            <p id="display-content-delivery">{{ delivery_content.content }}</p>
            <textarea id="editable-content-delivery" class="hidden"></textarea>

            <div class="btn-footer">
                <a href="#success" class="brand-btn">Vài câu chuyện nhỏ</a>
            </div>

        </div>

    </section>
    <section id="delivery" data-section="delivery">
        <div class="col-7">
            {% if is_staff %}
                <div class="update-buttons">
                    <button onclick="editContent('display-title-delivery', 'editable-title-delivery', 'update-title-delivery')">Update Title</button>
                    <button id="update-title-delivery" class="hidden" onclick="saveContent('editable-title-delivery', 'display-title-delivery', 'delivery', 'title')">Save Title</button>
                    <button onclick="editContent('display-content-delivery', 'editable-content-delivery', 'update-content-delivery')">Update Content</button>
                    <button id="update-content-delivery" class="hidden" onclick="saveContent('editable-content-delivery', 'display-content-delivery', 'delivery', 'content')">Save Content</button>
                </div>
            {% endif %}
        </div>
    </section>

    <section id="success" data-section="success">
        <h1 id="display-title-success" class="sec-heading">{{ success_story_content.title }}</h1>
        <textarea id="editable-title-success" class="hidden"></textarea>

        <div class="slider">
            <div class="col-6 slide-text">
                <div>
                    <p id="display-content-success">{{ success_story_content.content }}</p>
                    <textarea id="editable-content-success" class="hidden"></textarea>

                    <a href="#services" class="brand-btn">Những thứ ở đây</a>
                </div>
            </div>
            <div class="col-6 slide-img">
                {% if success_story_content.image %}
                    <img id="display-img-success" class="rounded-corners-35px" src="{{ success_story_content.optimized_image.url }}" alt="Image Description" title="Description"/>
                {% else %}
                    <img id="display-img-success" src="https://www.dropbox.com/s/ipx91osglyczpdt/delivery_experience.svg?raw=1" alt="Image Description" title="Description"/>
                {% endif %}

                {% if is_staff %}
                    <input type="file" id="image-upload-success" class="hidden" onchange="previewImage(this, 'display-img-success')" />
                    <button onclick="document.getElementById('image-upload-success').click()">Update Image</button>
                    <button id="upload-button-success" class="hidden" onclick="uploadImage('image-upload-success', 'display-img-success')">Upload</button>

                {% endif %}

            </div>

        </div>
    </section>
    <section id="success" data-section="success">
        <div class="col-6 slide-img">
            {% if is_staff %}
            <div class="update-buttons">
                <button onclick="editContent('display-title-success', 'editable-title-success', 'update-title-success')">Update Title</button>
                <button id="update-title-success" class="hidden" onclick="saveContent('editable-title-success', 'display-title-success', 'success', 'title')">Save Title</button>
                <button onclick="editContent('display-content-success', 'editable-content-success', 'update-content-success')">Update Content</button>
                <button id="update-content-success" class="hidden" onclick="saveContent('editable-content-success', 'display-content-success', 'success', 'content')">Save Content</button>
            </div>
            {% endif %}
        </div>
    </section>

    <section id="services">
        <h1 class="sec-heading">Những thứ ở đây</h1>
        <ul>
            <li>
                <div>
                    <a href="{% url 'blog' %}">
                        <i class="fas fa-coffee"></i><span>Blog</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="{% url 'tech_blog' %}">
                        <i class="fas fa-keyboard"></i><span>Tech Blog</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="{% url 'ebook_pictures' %}">
                        <i class="fas fa-camera-retro"></i><span>Ebook Pictures</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="{% url 'contacts' %}">
                        <i class="fab fa-instagram"></i><span>Contacts</span>
                    </a>
                </div>
            </li>
        </ul>

        <div id="service-footer">
            <a href="{% url 'contacts' %}" class="brand-btn">Contacts</a>
        </div>
    </section>

    <script src="{% static 'js/base/edit_content.js' %}"></script>
{% endblock %}
