{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/blog/blog_styles.css' %}">

    <section id="main-blog">
        <div class="container container-flex">
            <main role="main">
                {% for article in tech_articles %}

                    {% if article.class_name == "article-featured" %}
                        <article class="article-featured">
                            <h2 class="article-title">{{ article.title }}</h2>
                            <img class="rounded-corners-25px featured-image" src="{{ article.image.url }}" alt="{{ article.title }}">
                            <p class="article-info">{{ article.date_published }}</p>
                            <p class="article-body">{{ article.body_snippet }}</p>
                            <a href="{% url 'tech_blog_detail' article.slug %}" class="article-read-more">Đọc thêm . . .</a>
                        </article>

                    {% else %}
                        <article class="article-recent">
                            <div class="article-recent-main">
                                <h2 class="article-title">{{ article.title }}</h2>
                                <p class="article-body">{{ article.body_snippet }}</p>
                                <a href="{% url 'tech_blog_detail' article.slug %}" class="article-read-more">Đọc thêm . . .</a>
                            </div>
                            <div class="article-recent-secondary">
                                <img class="rounded-corners-25px" src="{{ article.image.url }}" alt="{{ article.title }}">
                                <p class="article-info">{{ article.date_published }}</p>
                            </div>
                        </article>
                    {% endif %}

                {% endfor %}

            </main>

            <aside class="sidebar">
                <div class="sidebar-widget" data-section="about">
                    <h2 class="widget-title" id="display-title-about">VỀ MÌNH</h2>
                    <textarea id="editable-title-about" class="hidden">{{ about_content.title }}</textarea>

                    {% if about_content.image %}
                        <img id="display-img-about" class="rounded-corners-25px" src="{{ about_content.image.url }}" alt="About Image">
                    {% else %}
                        <img id="display-img-about" class="rounded-corners-25px" src="https://raw.githubusercontent.com/kevin-powell/reponsive-web-design-bootcamp/master/Module%202-%20A%20simple%20life/img/about-me.jpg" alt="About Image">
                    {% endif %}

                    <p id="display-content-about" class="widget-body">{{ about_content.content }}</p>
                    <textarea id="editable-content-about" class="hidden">{{ about_content.content }}</textarea>
                </div>

                <div class="sidebar-widget" data-section="techblog-types">
                    <h2 class="widget-title">LỌC</h2>
                    <div class="techblog-types-container">
                        {% for blog_type in tech_blog_types %}
                            <div class="techblog-type" onclick="filterByType('{{ blog_type.type }}')">
                                <i class="{{ blog_type.icon }}" style='font: size 1.17em;'> </i>
                                {{ blog_type.display_name }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="sidebar-widget">
                    <h2 class="widget-title">BÀI VIẾT MỚI</h2>
                    {% for post in latest_tech_posts %}
                        <div class="widget-lastest-post">
                            <!-- Wrap the title with an anchor tag pointing to the post detail page -->
                            <h3 class="widget-lastest-post-title">
                                <a href="{% url 'tech_blog_detail' post.slug %}">{{ post.title }}</a>
                            </h3>
                            <img class="rounded-corners-25px widget-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                    {% endfor %}
                </div>
            </aside>

        </div>

        {% if articles.paginator.num_pages > 1 %}
            <div class="container container-flex">
                <div class="pagination">
                    <span class="step-links">
                        {% if articles.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ articles.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                        </span>

                        {% if articles.has_next %}
                            <a href="?page={{ articles.next_page_number }}">Next</a>
                            <a href="?page={{ articles.paginator.num_pages }}">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endif %}

    </section>

    <script>
        function filterByType(techType) {
            console.log("Filtering by tech type:", techType);

            // Make an AJAX call to fetch the filtered posts
            $.ajax({
                url: "/filter_tech_blog_posts/",
                type: "GET",
                data: { techType: techType },
                success: function(data) {
                    // Assuming the main tag is the container for all articles
                    const container = document.querySelector('main');
                    container.innerHTML = '';  // Clear current posts

                    // Loop through the returned data to construct and display posts
                    data.forEach(post => {
                        const article = document.createElement('article');
                        article.className = post.class_name;  // e.g., "article-featured" or "article-recent"

                    // Construct the innerHTML of the article based on your template structure and the returned post data
                    article.innerHTML = `
                        <div class="article-recent-main">
                            <h2 class="article-title">${post.title}</h2>
                            <p class="article-body">${post.body_snippet}</p>
                            <a href="/tech_blog/${post.slug}" class="article-read-more">Đọc thêm . . .</a>
                        </div>
                        <div class="article-recent-secondary">
                            <img class="rounded-corners-25px" src="${post.image_url}" alt="${post.title}">
                            <p class="article-info">${post.date_published}</p>
                        </div>
                    `;

                        container.appendChild(article);
                    });
                }
            });
        }

    </script>

{% endblock %}
