{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">

    <div class="clearfix">
        <link rel="stylesheet" href="{% static 'css/blog/blog_styles.css' %}">
        <section id="main-blog">
            <div class="container container-flex">
                <main role="main">
                    <article class="article-featured">
                        <h1 class="title-blog-detail">{{ tech_post.title }}</h1>
                        <p>Published on: {{ tech_post.date_published }}</p>
                        <div>{{ tech_post.full_content|safe }}</div>
                    </article>
                </main>


                <aside class="sidebar">
                    <div class="sidebar-widget">
                        <h2 class="widget-title">VỀ MÌNH</h2>
                        <img class="rounded-corners-25px" src="https://raw.githubusercontent.com/kevin-powell/reponsive-web-design-bootcamp/master/Module%202-%20A%20simple%20life/img/about-me.jpg" alt="john doe" class="widget-image">
                        <p class="widget-body">I find life better, and I'm happier, when things are nice and simple.</p>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">BÀI VIẾT MỚI</h2>
                        {% for post in latest_tech_posts %}
                            <div class="widget-lastest-post">
                                <!-- Wrap the title with an anchor tag pointing to the post detail page -->
                                <h3 class="widget-lastest-post-title">
                                    <a href="{% url 'tech_blog_detail' post.slug %}">{{ post.title }}</a>
                                </h3>
                                <img class="rounded-corners-25px widget-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                            </div>
                        {% endfor %}
                    </div>
                </aside>

            </div>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>
{% endblock %}
