{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="clearfix">
        <link rel="stylesheet" href="{% static 'css/blog/blog_styles.css' %}">
        <section id="main-blog">
            <h1 class="title-blog-detail">{{ post.title }}</h1>
            <div class="blog-detail-image-container">
                <img class="rounded-corners blog-detail-image" src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>
            <p>Published on: {{ post.date_published }}</p>
            <div>{{ post.full_content|safe }}</div>
        </section>
    </div>
{% endblock %}
