{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="clearfix">
        <link rel="stylesheet" href="{% static 'css/blog/blog_styles.css' %}">
        <section id="main-blog">
            <div class="container container-flex">
                <main role="main">
                    <article class="article-featured">
                        <h1 class="title-blog-detail">{{ post.title }}</h1>
                        <p>Published on: {{ post.date_published }}</p>
                        <div>{{ post.full_content|safe }}</div>
                    </article>
                </main>


                <aside class="sidebar">
                    <div class="sidebar-widget" data-section="about">
                        <h2 class="widget-title" id="display-title-about">VỀ MÌNH</h2>
                        <textarea id="editable-title-about" class="hidden">{{ about_content.title }}</textarea>

                        {% if about_content.image %}
                            <img id="display-img-about" class="rounded-corners-25px" src="{{ about_content.image.url }}" alt="About Image">
                        {% else %}
                            <img id="display-img-about" class="rounded-corners-25px" src="https://raw.githubusercontent.com/kevin-powell/reponsive-web-design-bootcamp/master/Module%202-%20A%20simple%20life/img/about-me.jpg" alt="About Image">
                        {% endif %}

                        <p id="display-content-about" class="widget-body">{{ about_content.content }}</p>
                        <textarea id="editable-content-about" class="hidden">{{ about_content.content }}</textarea>

                        {% if is_staff %}
                            <div class="update-buttons">
                                <button onclick="editContent('display-title-about', 'editable-title-about', 'update-title-about')">Update Title</button>
                                <button id="update-title-about" class="hidden" onclick="saveContent('editable-title-about', 'display-title-about', 'title')">Save Title</button>
                                <button onclick="editContent('display-content-about', 'editable-content-about', 'update-content-about')">Update Content</button>
                                <button id="update-content-about" class="hidden" onclick="saveContent('editable-content-about', 'display-content-about', 'content')">Save Content</button>
                            </div>
                            <input type="file" id="image-upload-about" class="hidden" onchange="previewImage(this, 'display-img-about')" />
                            <button onclick="document.getElementById('image-upload-about').click()">Update Image</button>
                            <button id="upload-button-about" class="hidden" onclick="uploadImage('image-upload-about', 'display-img-about')">Upload</button>
                        {% endif %}

                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">BÀI VIẾT MỚI</h2>
                        {% for post in lastest_posts %}
                            <div class="widget-lastest-post">
                                <!-- Wrap the title with an anchor tag pointing to the post detail page -->
                                <h3 class="widget-lastest-post-title">
                                    <a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a>
                                </h3>
                                <img class="rounded-corners-25px widget-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                            </div>
                        {% endfor %}
                    </div>
                </aside>

            </div>
        </section>
    </div>
{% endblock %}
