{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/blog/blog_styles.css' %}">

    <section id="main-blog">
        <div class="container container-flex">
            <main role="main">
                {% for article in articles %}

                    {% if article.class_name == "article-featured" %}
                        <article class="article-featured">
                            <h2 class="article-title">{{ article.title }}</h2>
                            <img class="rounded-corners-25px featured-image" src="{{ article.image.url }}" alt="{{ article.title }}">
                            <p class="article-info">{{ article.date_published }}</p>
                            <p class="article-body">{{ article.body_snippet }}</p>
                            <a href="{% url 'blog_detail' article.slug %}" class="article-read-more">Đọc thêm . . .</a>
                        </article>

                    {% else %}
                        <article class="article-recent">
                            <div class="article-recent-main">
                                <h2 class="article-title">{{ article.title }}</h2>
                                <p class="article-body">{{ article.body_snippet }}</p>
                                <a href="{% url 'blog_detail' article.slug %}" class="article-read-more">Đọc thêm . . .</a>
                            </div>
                            <div class="article-recent-secondary">
                                <img class="rounded-corners-25px" src="{{ article.image.url }}" alt="{{ article.title }}">
                                <p class="article-info">{{ article.date_published }}</p>
                            </div>
                        </article>
                    {% endif %}

                {% endfor %}

            </main>

            <aside class="sidebar">
                <div class="sidebar-widget" data-section="about">
                    <h2 class="widget-title" id="display-title-about">VỀ MÌNH</h2>
                    <textarea id="editable-title-about" class="hidden">{{ about_content.title }}</textarea>

                    {% if about_content.image %}
                        <img id="display-img-about" class="rounded-corners-25px" src="{{ about_content.image.url }}" alt="About Image">
                    {% else %}
                        <img id="display-img-about" class="rounded-corners-25px" src="https://raw.githubusercontent.com/kevin-powell/reponsive-web-design-bootcamp/master/Module%202-%20A%20simple%20life/img/about-me.jpg" alt="About Image">
                    {% endif %}

                    <p id="display-content-about" class="widget-body">{{ about_content.content }}</p>
                    <textarea id="editable-content-about" class="hidden">{{ about_content.content }}</textarea>

                    {% if is_staff %}
                        <div class="update-buttons">
                            <button onclick="editContent('display-title-about', 'editable-title-about', 'update-title-about')">Update Title</button>
                            <button id="update-title-about" class="hidden" onclick="saveContent('editable-title-about', 'display-title-about', 'title')">Save Title</button>
                            <button onclick="editContent('display-content-about', 'editable-content-about', 'update-content-about')">Update Content</button>
                            <button id="update-content-about" class="hidden" onclick="saveContent('editable-content-about', 'display-content-about', 'content')">Save Content</button>
                        </div>
                        <input type="file" id="image-upload-about" class="hidden" onchange="previewImage(this, 'display-img-about')" />
                        <button onclick="document.getElementById('image-upload-about').click()">Update Image</button>
                        <button id="upload-button-about" class="hidden" onclick="uploadImage('image-upload-about', 'display-img-about')">Upload</button>
                    {% endif %}

                </div>

                <div class="sidebar-widget">
                    <h2 class="widget-title">BÀI VIẾT MỚI</h2>
                    {% for post in lastest_posts %}
                        <div class="widget-lastest-post">
                            <!-- Wrap the title with an anchor tag pointing to the post detail page -->
                            <h3 class="widget-lastest-post-title">
                                <a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a>
                            </h3>
                            <img class="rounded-corners-25px widget-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                    {% endfor %}
                </div>
            </aside>

        </div>

        {% if articles.paginator.num_pages > 1 %}
            <div class="container container-flex">
                <div class="pagination">
                    <span class="step-links">
                        {% if articles.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ articles.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                        </span>

                        {% if articles.has_next %}
                            <a href="?page={{ articles.next_page_number }}">Next</a>
                            <a href="?page={{ articles.paginator.num_pages }}">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endif %}

    </section>

    <script src="{% static 'js/base/edit_content.js' %}"></script>

{% endblock %}
