{% extends "base/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/ebook_pictures/ebook_picture_details.css' %}">

<div class="main-container">
    <div class="search-bar">
        <input type="search" name="search" id="search" placeholder="Tìm kiếm">
    </div>

    <div class="images-container">
        {% for image_detail in images %}
            <div class="image-wrapper">
                <a href="{{ image_detail.image.url }}" data-caption="{{ image_detail.caption }}">
                    <img src="{{ image_detail.optimized_image.url }}" alt="{{ image_detail.caption }}">
                </a>
                <button class="download-btn" data-image-url="{{ image_detail.image.url }}" data-caption="{{ image_detail.caption }}">Tải xuống</button>
                <button class="download-btn"
                        data-image-url="{{ image_detail.image.url }}"
                        data-title="{{ image_detail.card.title }}"
                        data-short-intro="{{ image_detail.card.short_intro }}">
                    Tải xuống
                </button>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/ebook_pictures/ebook_picture_detail_actions.js' %}"></script>
<script src="{% static 'js/ebook_pictures/download_actions.js' %}"></script>

{% endblock %}