{% extends "base/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/ebook_pictures/ebook_pictures_styles.css' %}">

<div class="container">
    {% for card in cards %}
        <div class="card">
            <img class="rounded-corners-25px" src="{{ card.optimized_image.url }}">
            <div class="card-body">
                <div class="card-text">
                    <h3>{{ card.title }}</h3>
                    <p>{{ card.short_intro }}</p>
                </div>
                <button><a href="{% url 'ebook_picture_details' card_id=card.id %}">More...</a></button>
            </div>
        </div>
    {% endfor %}
</div>

<script src="{% static 'js/ebook_pictures/ebook_picture_actions.js' %}"></script>

{% endblock %}