{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- divinecorweb.com -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<link rel="stylesheet" href="{% static 'css/auth/login_styles.css' %}">

<!-- Form Container -->
<div class="form-structor">
	<div class="signup slide-up">
		<h2 class="form-title" id="signup"><span>or</span> Sign up</h2>
		<form method="post" action="{% url 'signup' %}">
			{% csrf_token %}
			<div class="form-holder">
				<input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="input" placeholder="Email" value="{{ form.email.value|default:'' }}" required>
				<input type="password" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" class="input" placeholder="Password" required>
				<input type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" class="input" placeholder="Password" required>
			</div>
			<div id="signup-error-messages" class="error-messages"></div>
			<button class="submit-signup-btn">Sign up</button>
		</form>
	</div>
	<div class="login">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span> Log in</h2>
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<div class="form-holder">
					<input type="email" name="email" id="{{ form.email.id_for_label }}" class="input" placeholder="Email" required>
					<input type="password" name="password" id="{{ form.password1.id_for_label }}" class="input" placeholder="Password" required>
				</div>
				<button class="submit-btn">Log in</button>
			</form>
		</div>
	</div>
</div>

<script src="{% static '/js/auth/login_actions.js' %}"></script>

</body>
</html>
